<header class="ms-5 me-5 mt-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-1 d-sm-none">
        <a class="btn boton_cabecera_movil" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <i class="bi bi-list"></i>
        </a>
    </div>
    <div class="col-4">
      <div class="img_wrapper d-none d-sm-block">
        <a href="/">
          <img src="../static/img/cosateca_imagotipo.png" alt="logo" class="imagotipo">
        </a>
      </div>
    </div>
    <div class="col-2"></div> 
    <div class="col-4 d-flex justify-content-end align-items-center">
      {% if user.is_authenticated %}
  
        <a  class="btn boton_header_inicio dropdown-toggle" data-bs-toggle="dropdown">Hola, {{ user.username }}</a>
        <img src="../static/img/logo_gestor.png" alt="user icon" class="user_icon_gestor">

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/usuario">Editar perfil</a></li>
          <li><a class="dropdown-item" href="/cerrar_sesion">Cerrar sesión</a></li>

        </ul>




      {% endif %}
    </div>
  </div>

  <div class="row d-none d-sm-block">
    <div class="col-12 d-flex justify-content-center menu_header">
      <a href="/gestion_reservas_gestor" class="btn boton_header_inicio {% if request.path == '/gestion_reservas_gestor' %}fw-bold{% endif %}">Gestión de reservas</a>
      <a href="/gestion_objetos_gestor" class="btn boton_header_inicio {% if request.path == '/gestion_objetos_gestor' %}fw-bold{% endif %}">Gestión de objetos</a>
      <a href="/almacenes" class="btn boton_header_inicio {% if request.path == '/almacenes' %}fw-bold{% endif %}">Almacenes</a>
    </div>
  </div>




  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close me-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h5 class="offcanvas-title">         
       <img src="../static/img/cosateca_imagotipo.png" alt="logo" class="imagotipo">
    </h5>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column align-items-start">
      <a href="/gestion_reservas_gestor" class="btn boton_header_inicio {% if request.path == '/gestion_reservas_gestor' %}fw-bold{% endif %}">Gestión de reservas</a>
      <a href="/gestion_objetos_gestor" class="btn boton_header_inicio {% if request.path == '/gestion_objetos_gestor' %}fw-bold{% endif %}">Gestión de objetos</a>
      <a href="/almacenes" class="btn boton_header_inicio {% if request.path == '/almacenes' %}fw-bold{% endif %}">Almacenes</a>
    </div>
  </div>
</div>
</header>
