{% extends "base.html" %}
{% block title %}Catálogo{% endblock %}

{% block content %}

{% include "header.html" %}

{% load query_transform %}

<section class="catalogo">
    <div class="row">

        <div class="col-3 filtrado_ordenacion">
            <div class="text-center mb-3 mt-2">
                <span class="titulo_filtrado_ordenacion"> <b>FILTROS</b> </span>
                <div class="row botonera_filtros d-flex align-items-center flex-column">
                    <div class="dropdown mb-2">
                        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Categoría
                        </a>
                        <ul class="dropdown-menu w-50">
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Bricolaje' %}">Bricolaje</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Jardín' %}">Jardín</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Cocina' %}">Cocina</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Electrónica' %}">Electrónica</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Herramientas' %}">Herramientas</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Limpieza' %}">Limpieza</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request categoria='Otros' %}">Otros</a></li>
                        </ul>
                    </div>
                    <div class="dropdown mb-2">
                        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Condición
                        </a>
                        <ul class="dropdown-menu w-50">
                            <li><a class="dropdown-item" href="?{% query_transform request condicion='Nuevo' %}">Nuevo</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request condicion='Bueno' %}">Bueno</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request condicion='Desgastado' %}">Desgastado</a></li>
                            <li><a class="dropdown-item" href="?{% query_transform request condicion='Perdido' %}">Perdido</a></li>

                    </div>
                    <div class="dropdown mb-2">
                        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Localización
                        </a>
                        <ul class="dropdown-menu w-75">
                            {% for a in almacenes %}
                                <li><a class="dropdown-item" href="?{% query_transform request almacen=a.nombre %}">{{ a.nombre }}</a></li>
                            {%endfor%}

                        </ul>
                    </div> 
                </div>
            </div>
            <div class="text-center mt-3 mb-2">
                <span class="titulo_filtrado_ordenacion"> <b>ORDENAR POR</b> </span>
                <div class="row botonera_filtros d-flex align-items-center flex-column">
                    <div class="dropdown mb-2">
                        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Condición
                        </a>
                        <ul class="dropdown-menu w-50">
                            <li><a class="dropdown-item" href="?{% query_transform request orden_condicion='Mayor' %}">Mejor condición</a></li>

                            <li><a class="dropdown-item" href="?{% query_transform request orden_condicion='Menor' %}">Menor condición</a></li>

                    </div>
                                        <div class="dropdown mb-2">
                        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Valoración
                        </a>
                        <ul class="dropdown-menu w-75">
                            <li><a class="dropdown-item" href="?{% query_transform request orden_valoracion='Mayor' %}">Mayor valoración</a></li>

                            <li><a class="dropdown-item" href="?{% query_transform request orden_valoracion='Menor' %}">Menor valoración</a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-9">
            <form method="get">
                <input type="text" name="nombre_herramienta" class="form-control mb-3 input-buscar"
                    placeholder="Buscar">
            </form>

            <div class="container mt-4">
                <div class="row">
                    {% for h in herramientas %}
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <!-- Imagen del elemento (opcional) -->
                            {% if h.imagen %}
                            <img src="{{ h.imagen }}" class="card-img-top" alt="{{ h.nombre }}">
                            {% endif %}
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ h.nombre }}</h5>
                                <p class="card-text">
                                      <img src="../static/img/huella_carbono.png" alt="icono" style="width: 1.5em; vertical-align: middle;">

                                    {{ h.huella_carbono }} Kg CO2</p>
                                <!-- Puedes añadir más campos aquí -->
                            </div>
                            <a href="catalogo/{{h.id}}" class="stretched-link"></a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div>
                <div class="row">
                    {% endif %}
                    {% empty %}
                    <div class="col-12">
                        <p>No hay elementos disponibles.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>




    </div>




</section>


{% endblock %}