{% extends "base.html" %}
{% block title %}Valorar Objeto{% endblock %}

{% block content %}
{% include "header.html" %}

    {% if messages %}
    <div class="d-flex justify-content-center">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} mt-3 mb-0 text-center">
        {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


<div class="container my-5 ">
    <div class="card p-4 mx-auto shadow-sm">
        <div class="row d-flex justify-content-center">

            <div class="col-md-8">
                <h4 class="mb-4 text-center card-title mt-4">Valoración para el objeto "{{objeto.nombre}}"</h4>
                <form method="post" >
                    {% csrf_token %}

                    <div class="rating mb-3 justify-content-center d-flex mb-4">
                        {% for i in "54321" %}
                        <input type="radio" id="star{{ i }}" name="puntuacion" value="{{ i }}" required
                            {% if valoracion and valoracion.estrellas|stringformat:"s" == i %} checked {% endif %}>
                        <label for="star{{ i }}" title="{{ i }} estrellas">★</label>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        <textarea name="comentario" class="form-control" rows="4"
                            placeholder="Escribe tu comentario…" required>{% if valoracion %}{{ valoracion.comentario }}{% endif %}</textarea>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-custom-width mb-4">Enviar valoración</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






{% endblock %}