{% extends "base.html" %}
{% block title %}Mis amonestaciones{% endblock %}

{% block content %}

  {% include "header.html" %}

  {% if messages %}
<div class="container mt-3">
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
{% endif %}

  <div class="container my-4">
    <h2 class="fw-bold text-center mb-4 titulo_cuestionario">Mis amonestaciones ({{total_amonestaciones}}/10)</h2>

    {% if amonestaciones %}
      <div class="list-group">
        {% for amonestacion in amonestaciones %}
          <div class="list-group-item d-flex align-items-center justify-content-between p-3 border-0 border-bottom">
            <div class="d-flex align-items-center">
              <div class="me-3 icon-container 
                {% if amonestacion.severidad == 'Grave' %}icon-grave
                {% elif amonestacion.severidad == 'Media' %}icon-media
                {% else %}icon-leve{% endif %}">
                <i class="bi bi-exclamation-triangle-fill"></i>
              </div>
              <div class="d-flex flex-column flex-md-row align-items-md-center">
                <p class="mb-0 fw-bold me-md-4 fs-5 ms-5">{{ amonestacion.fecha|date:"d/m/Y" }}</p>
                <p class="mb-0 fs-3 ms-5">{{ amonestacion.motivo }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning text-center mt-4" role="alert">
        No tienes amonestaciones registradas.
      </div>
    {% endif %}
  </div>

{% endblock %}
