{% extends "base.html" %}
{% block title %}Almacenes Disponibles{% endblock %}

{% block content %}
  {% include "header.html" %}

<form method="get" class="mb-4 mt-4">
    <input type="text" name="busqueda_almacen" class="form-control input-buscar"
           placeholder="Buscar">
  </form>

  <div class="container mt-4">
    {% for almacen in almacenes %}
      <div class="card mb-4 shadow-sm">
        <div class="row g-0">

          <div class="col-md-4">
            <div id="map-{{ almacen.id }}" class="map-container" data-lat="{{ almacen.localizacion.latitud }}" data-lng="{{ almacen.localizacion.longitud }}"></div>
          </div>

          <div class="col-md-4 d-flex flex-column p-3">
            <div class="details-section mb-3">
              <h2 class="card-title text-center mb-3">{{ almacen.nombre }}  ({{ almacen.localizacion.ciudad }})</h2>
              <p class="card-text text-center">{{ almacen.descripcion }}</p>
            </div>
          </div>

          <div class="col-md-4 d-flex flex-column p-3 border-start">
            <div class="horarios-section">
              <h3 class="card-title text-center">Horarios</h3>
              <ul class="list-unstyled text-center">
                {% if almacen.horarios.count == 0 %}
                  <li class="card-text text-center">No hay horarios disponibles.</li>
                {% else %}
                    {% for horario in almacen.horarios.all %}
                    <li>
                        <span class="dia-semana">{{ horario.dia_semana }}</span>: {{ horario.hora_inicio }} - {{ horario.hora_fin }}
                    </li>
                    {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No hay almacenes disponibles.</p>
    {% endfor %}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.map-container').forEach(function(el) {
        var lat = parseFloat(el.dataset.lat);
        var lng = parseFloat(el.dataset.lng);
        var map = L.map(el.id).setView([lat, lng], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);
        L.marker([lat, lng]).addTo(map);
      });
    });
  </script>
{% endblock %}
